<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'administration</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/pageAdmin.css">
</head>
<body>
<div class="page-admin">
    <header>
        <span class="title">Administration</span>
        <span class="version">Version :
            <span class="num">0.2.0</span>
        </span>
    </header>
    <div class="body">
        <nav>
            <ul>
                <li><a href="index.php?page=admin">
                    <div class="tab">Tableau de bord</div></a></li>
                <li><a href="index.php?page=admin&action=list">
                    <div class="tab">Liste des musiques</div></a></li>
                <li><a href="index.php?page=admin&action=add">
                    <div class="tab">Ajouter une musique</div></a></li>
            </ul>
        </nav>
        <section class="section">
            <div class="content">